.cookie-consent {
  width: 100%;
  background: #9292924f;
  color: white;
  padding: 15px;
  display: flex;
  gap: 8em;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  font-size: 14px;
}

.cookie-consent p {
  margin: 0;
}

.cookie-consent a {
  color: #ED3541;
  text-decoration: underline;
  margin-left: 5px;
}

.cookie-consent button {
  margin-left: 20px;
  background: #ED3541;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}






@media (min-width: 100px) and (max-width: 728.99px) {
  .cookie-consent {
    font-size: 12px;
    gap: 2em;
  }
}